.about-wrapper {
  max-width: 1000px;
  margin: auto;
  padding: 2rem;
}

/* Hero */
.about-hero {
  text-align: center;
  padding: 3rem 1rem;
  background-color: #fcdada;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.about-hero h1 {
  font-size: 1.5rem;
  color: #f14646;
}

.about-hero p {
  font-size: 1.2rem;
  color: #333;
}

/* Sections */
.about-content .about-section {
  margin-bottom: 2rem;
}

.about-section h2 {
  color: #f14646;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.about-section p, .about-section ul {
  font-size: 1rem;
  line-height: 1.5;
}

.about-section ul {
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  list-style: none;
}

.about-section li {
  margin-bottom: 0.5rem;
  padding-left: 15rem;
}

