/* NAVIGATION WRAPPER */
.nav {
  background-color: #f14646;
  padding: 1rem 0.5rem;
  display: flex;
  flex-direction: column;
}

/* LOGO & TITLE */
.nav-logo {
  display: flex;
  margin-bottom: 1rem;
}

.nav-title {
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.nav-title a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

/* NAV MENU */
.nav-menu ul {
  display: flex;
  gap: 1rem;
  padding: 1rem 0 0 1rem;
  margin: 0;
  justify-content: center;
}

.nav-menu-link {
  list-style: none;
}

.nav-menu-link a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.nav-menu-link a:hover {
  background-color: #fff;
  color: #f14646;
}

/* DROPDOWN */
.dropdown {
  position: relative;

}

/* Dropdown Button */
.dropbtn {
  background-color: #f14646;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

/* Hover State */
.dropbtn:hover {
  background-color: #fff;
  color: #f14646;
}


/* Dropdown Content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1rem;
  transition: background-color 0.2s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
